<!DOCTYPE html>
<html>
<head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <!--<style type="text/css">
        #currentColorBox {

            background-color: #{{ HTMLhexColor }};
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
            height: 50px;
            width: 400px;

        }-->
    </style>
</head>
<body style="background-color: #{{ HTMLhexColor }}">
<div style="width:50%;margin:0 auto;text-align:center;" class="container">
    <h1 style="text-stroke: 4px;">Select a color value:</h1>
    <br>
    <div>
        <form action="" method="post">
            <input type="text" class="color" style="border-radius: 9px" name="colorValue" value="{{
          request.form.colorValue }}">
            <input class="btn btn-default" type="submit" value="submit">
        </form>
    </div>
    <script type="text/javascript" src="/static/jscolor/jscolor.js"></script>
</div>
</body>
</html>
